body{
    margin: 0;
    background: url("./img/bckd.jpg");
    font-family: Tahoma;
    font-size: 18px;
    background-color: lavender;
}
.card{
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 5px 10px #ccc;
    border-radius: 10px;
}
.card-foto{
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}
.card-title{
    font-size: 20px;
    text-align: center;
    color: #3b5998;
}
.card-text{
    font-size: 14px;

}
.cars-subtitle{
    font-size: 18px;
    color: royalblue;
}
.card-list{
    padding-left: 0;
    list-style-position: inside;
    font-size: 15px;
}
.card-list li{
    list-style-type: none;
}
.univer{
    font-size: 14px;
    color: royalblue;
}
.univer-job{
    font-size: 16px;
    color: #00b956;
}